body {
  font-family: sans-serif;
  font-size: 12pt;
  margin: 8px;
  background-color: #444;
  color: white;
}

.dropShade {
  display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba(0,160,255,0.85), #0000);
  color: white;
  text-shadow: 0px 1px 5px black, 0px 1px 5px black, 0px 2px 3px black;
  font-size: 3vmin;
  box-shadow: inset 0 0 5vmax rgba(0,160,255,1);
  z-index: 100;
  pointer-events: none;
  text-align: center;
}
.dragOver > .dropShade::before { content: 'You can drop the file here'; }
.dropShade.faded::before { opacity: 0.25; }
.dragOver > .dropShade { display: flex; }

.dropBox {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  box-shadow: inset 0px 3px 7px #0008;
  border: 2px solid #585858;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px;
  color: #ccc;
  text-align: center;
}

.dropBox:focus {
  box-shadow: inset 0 0 2px 3px #5cf;
  border-color: #49b;
}

.dropBox > input[type=file] {
  display: none;
}

.result canvas {
  max-width: 100%;
  max-height: calc(100vh - 16px);
  cursor: pointer;
}

.template {
  display: none;
}

.processNode {
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #fff1;
  display: flex;
  flex-direction: column;
  margin: 8px;
  font-size: 11.5pt;
  max-width: 640px;
}

.processNode > .title {
  text-align: center;
  padding: 8px;
  box-shadow: inset 0 0 5px #0008;
  border-radius: 3px 3px 0 0;  
}

.processNode > .contents {
  box-shadow: inset 0 1px #fff1;
}

.propertySheet {
  list-style: none;
  padding: 0;
  margin: 0;
}

.propertySheet > .propertySheetItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.propertySheet > .propertySheetItem.vertical {
  flex-direction: column;
  align-items: stretch;
}

.propertySheet > .propertySheetItem > .propertyName,
.propertySheet > .propertySheetItem > .propertyValue {
  flex: 1 1 0;
  box-sizing: border-box;
  padding: 2px;
  vertical-align: middle;
}

.propertySheet > .propertySheetItem > .propertyName {
  text-align: right;
  margin-right: 4px;
}

.propertySheet > .propertySheetItem.vertical > .propertyName {
  text-align: center;
  margin-right: 0;
}

.propertySheet > .propertySheetItem > .propertyValue {
  margin-left: 4px;
}

.propertySheet > .propertySheetItem.vertical > .propertyValue {
  margin-left: 0;
}

.propertySheet > .propertySheetItem > .propertyValue * {
  vertical-align: middle;
}

.exponentialSlider {
  display: flex;
}

.exponentialSlider > input[type=range] {
  flex: 1 1 128px;
}

.colorEditor {
  display: flex;
  align-items: center;
}

.colorEditor > input[type=range] {
  flex: 1 1 128px;
}
